body {
  font-family: Arial;
  background: #f3f4f6;
  margin: 0;
}

header {
  background: #111827;
  color: #fff;
  padding: 10px;
}

.main {
  max-width: 1000px;
  margin: 14px auto;
  padding: 12px;
}

.box {
  background: #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
}

button {
  padding: 7px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}
